.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.register-handler{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.register-form *{
    margin-bottom: 10px;
}

.google-registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#google-registration{
    width: 300px;
    margin: auto;
}